{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %} | Sloggle</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'SloggleUI/main.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous" defer></script>
    <script src="{% static 'SloggleUI/main.js' %}" defer></script>
</head>
<body class="bg-dark text-light">

    {# header with login and signup button #}
    <header class="shadow">
        <nav class="navbar navbar-dark text-light" style="background-color: #000000">
            <div class="container">
                <div class="navbar-brand">
                    <div>

                        <a href="{% url 'home' %}">
                           <img class ="mw-100" src="{% static 'SloggleUI/logo.jpg' %}" alt="logo" style="width:200px">
                        </a>
                    </div>
                    <div class="title-subtext" >
                        &nbsp &nbsp &nbsp Your Freelance Solution
                    </div>
                </div>
                <div class="d-flex">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fa fa-bell icon" style="margin:2px"></i></a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#login-modal" style="margin-right: 1rem; width: 80px;">Login</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#signup-modal" style="width: 80px;">Signup</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {# navigation, around site #}
    <div class="container-fluid shadow secondary-navigation py-3">
        <div class="container">
            <ul class="nav">
                <div class="btn-group" style="margin-right: 1.5rem;">
                    <button type="button" class="btn btn-dark"><a href="{% url 'home' %}">Home</a></button>
                    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu bg-dark">
                        <li><a class="dropdown-item text-light" href="{% url 'about' %}">About us</a></li>
                        <li><a class="dropdown-item text-light" href="{% url 'contact' %}">Contact us</a></li>
                        <li><hr class="dropdown-divider" style="color: #5b6773"></li>

                    </ul>
                </div>

                <li class="nav-item"><a href="{% url 'find_jobs' %}" class="nav-link">Find Jobs</a></li>
                <li class="nav-item"><a href="{% url 'hire_freelancer' %}" class="nav-link">Freelancer</a></li>
                <li class="nav-item"><a href="{% url 'post_project' %}" class="nav-link">Post a Project</a></li>
            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    {# footer with sitemap #}
    <footer class="pt-5" style="background-color: black">
        <div class="container" >
            <div class="row">
                <div class="col-3">
                    <ul class="list-group list-group-flush">
                          <img class ="mw-100" src="{% static 'SloggleUI/logo.jpg' %}" alt="logo" style=" margin-left:5%;margin-right:auto;width:28%">
                        <li class="list-group-item"><a href="{% url 'hire_freelancer' %}">Freelancers</a></li>
                        <li class="list-group-item"><a href="{% url 'post_project' %}">Projects</a></li>
                        <li class="list-group-item"><a href="{% url 'find_jobs' %}">Find Jobs</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Terms and Conditions</li>
                        <li class="list-group-item">Privacy Policy</li>
                        <li class="list-group-item">Copyright Policy</li>
                        <li class="list-group-item">Subscription</li>
                    </ul>
                </div>
                <div class="col-3"></div>
                <div class="col-3">
                    <ul class="list-group list-group-flush">
                        <img class ="mw-100" src="{% static 'SloggleUI/logo.jpg' %}" alt="logo" style=" margin-left:5%;margin-right:auto;width:28%">
                        <li class="list-group-item">Help and Support</li>
                        <li class="list-group-item">US (English)</li>
                    </ul>
                </div>
            </div>
        </div>
        {# about bar #}
        <div class="text-center">
            <i class="fa fa-facebook p-2 highlighted-on-hover"></i>
            <i class="fa fa-twitter p-2 highlighted-on-hover"></i>
            <i class="fa fa-linkedin p-2 highlighted-on-hover"></i>
            <i class="fa fa-youtube p-2 highlighted-on-hover"></i>
            <i class="fa fa-google-plus p-2 highlighted-on-hover"></i>
        </div>
        {# copyright bar #}
        <div class="text-center mt-4 pt-4 pb-3" style="background-color: #495057">
            <p>Copyright &copy; 2021 SLOGGLE CONSULTANCY PVT. LTD.</p>
        </div>
    </footer>

    {# chat #}
    <button class="open-button" onclick="openForm()">Let's Chat</button>

    <div class="chat-popup" id="myForm" style="background-color: black">
      <form action="/action_page.php" class="form-container">
        <h1 style="color:black">Chat</h1>

        <label for="msg"><b style="color:black">Message</b></label>
        <textarea placeholder="Type message.." name="msg" required></textarea>

        <button type="submit" class="btn">Send</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>

    {# signin/login modals #}
    <div class="modal fade bg-dark" id="login-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  style="background-color: black!important">
      <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content" style="background-color: black">
                <div class="modal-header">
                    <img class ="mw-100" src="{% static 'SloggleUI/logo.jpg' %}" alt="logo" style=" margin-left:auto;margin-right:17%;width:50%">


                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center" style="font-size: 5rem;margin-left: 10%">
                        <h5 class="modal-title" style="margin-left: 28%">Log In</h5>
                    </div>
                    <div class="row mt-4 mb-3">
                        <div class="col-1"></div>
                        <div class="col-3">
                            <label for="user-email" class="col-form-label">Email</label>
                        </div>
                        <div class="col-7">
                            <input type="email" id="user-email" class="form-control">
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-1"></div>
                        <div class="col-3">
                            <label for="user-password" class="col-form-label">Password</label>
                        </div>
                        <div class="col-7">
                            <input type="password" id="user-password" class="form-control">
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="d-flex justify-content-center">
                         &nbsp;&nbsp;&nbsp;<button class="btn btn-success" style="width: 150px;margin-left:2.5px">
                            Log In
                        </button>
                    </div>
                </div>




            </div>
        </div>
    </div>

    <div class="modal fade bg-dark" id="signup-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  style="background-color:
black!important;">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="background-color: black">
            <div class="modal-content" style="background-color: black">

                <div class="modal-body">



                    <div class="container d-none" id="signupForm">

                        <img class ="mw-100" src="{% static 'SloggleUI/logo.jpg' %}" alt="logo" style=" margin-left:37%;margin-right:auto;width:30%">


                        <p style="color:white;margin-top:10px; text-align: center;"><b> Create New Account</b></p>
                        <hr>

                        <form action="">
                            <label for="email"><b style="color:white">Email</b></label>
                            <input type="text" placeholder="Enter Email" name="email" required>

                            <label for="psw"><b style="color:white">Password</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" required>

                            <label for="psw-repeat"><b style="color:white">Re-enter Password</b></label>
                            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

                            <label>
                            <input type="checkbox" checked="checked" name="remember" style="color:white;margin-bottom:15px"> Remember me
                            </label>

                            <p style="color:white">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

{#                            <div class="clearfix"></div>#}

                            <button type="button" class="cancelbtn" id="signupCancelButton">Cancel</button>
                            <button type="submit" class="signupbtn">Sign Up</button>

                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col" style="padding-top: 1rem">
                                    <hr>
                                    <span style="position: relative; bottom: 2.3rem; left: 18.5rem; padding: 0.3rem; border: 3px solid #fff; border-radius: 50%; background-color: #212529">OR</span>
                                </div>
                                <div class="col-1"></div>
                            </div>

                            <div class="d-flex justify-content-center mt-3 mb-5">
                                <button class="btn btn-primary">
                                    <i class="fa fa-facebook-square" style="margin-right: 0.5rem;"></i>
                                    <a href ="http://www.facebook.com" style="color:white">Sign Up with Facebook</a>

                                </button>
                            </div>

                        </form>
                    </div>
                    <div class="container" id="makeYourChoice" style="text-align:center;">
                        <img class ="mw-100" src="{% static 'SloggleUI/logo.jpg' %}" alt="logo" style=" margin-left:6%;margin-right:auto;width:30%;margin-bottom: 10px"><br/>
                        <h2><b>Select account type</b></h2>
                        <p>Don't worry , this can be changed later </p>
                    </div>
                    <div class="container d-flex justify-content-center">

                        <button style="width:auto; margin-right: 1rem;" id="hireFreelancerButton">Hire a freelancer</button>
                        <button style="width:auto;" id="beFreelancerButton">Be a freelancer</button>
                    </div>



                </div>

            </div>
        </div>
    </div>

</body>
</html>