{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <main class="container py-3">
        <div class="card card-lighter" style="height: 400px;">
            <div class="card-body">
                <div class="card-text">
                    {# cards #}
                    <div class="container">
                        <div class="row g-3 mt-4 mb-5">
                            <div class="col-sm-4">
                                <div class="card shadow" style="background-color: #1b1e21;">
                                    <div class="card-img-top dummy-card-image">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title"><b>Lorem ipsum</b></div>
                                        <div class="card-text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid blanditiis cum, dicta excepturi exercitationem explicabo facere ipsa itaque laborum molestiae necessitatibus pariatur, qui tempora tempore, velit veniam vero.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card shadow" style="background-color: #1b1e21;">
                                    <div class="card-img-top dummy-card-image">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title"><b>Lorem ipsum</b></div>
                                        <div class="card-text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid blanditiis cum, dicta excepturi exercitationem explicabo facere ipsa itaque laborum molestiae necessitatibus pariatur, qui tempora tempore, velit veniam vero.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card shadow" style="background-color: #1b1e21;">
                                    <div class="card-img-top dummy-card-image">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title"><b>Lorem ipsum</b></div>
                                        <div class="card-text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid blanditiis cum, dicta excepturi exercitationem explicabo facere ipsa itaque laborum molestiae necessitatibus pariatur, qui tempora tempore, velit veniam vero.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row g-3 mt-4 mb-5">
                            <div class="col-sm-4">
                                <div class="card shadow" style="background-color: #1b1e21;">
                                    <div class="card-img-top dummy-card-image">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title"><b>Lorem ipsum</b></div>
                                        <div class="card-text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid blanditiis cum, dicta excepturi exercitationem explicabo facere ipsa itaque laborum molestiae necessitatibus pariatur, qui tempora tempore, velit veniam vero.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card shadow" style="background-color: #1b1e21;">
                                    <div class="card-img-top dummy-card-image">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title"><b>Lorem ipsum</b></div>
                                        <div class="card-text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid blanditiis cum, dicta excepturi exercitationem explicabo facere ipsa itaque laborum molestiae necessitatibus pariatur, qui tempora tempore, velit veniam vero.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card shadow" style="background-color: #1b1e21;">
                                    <div class="card-img-top dummy-card-image">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title"><b>Lorem ipsum</b></div>
                                        <div class="card-text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid blanditiis cum, dicta excepturi exercitationem explicabo facere ipsa itaque laborum molestiae necessitatibus pariatur, qui tempora tempore, velit veniam vero.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}