{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <main class="container py-3">
        <div class="card card-lighter" style="height: 400px; background:black">
            <div class="card-body">
                <div class="card-text">
                    {# cards #}
                    <p><b>About Us</b></p>
<p>Sloggle is an Indian based online freelancer firm. This
forum deals with the employers who give access to
hire freelancers to get the work done in areas such
as software development, mobile app development
and computer networking projects. An investment of
your knowledge in your best interest pays off the
best results. Sloggle makes the work brisk, easier,
cost-effective to ascertain, recruit, work alongside.
Sloggle provides the best professionals all over India
anytime.</p>
                    <p><b>Vision</b></p>
                    <p>To devote ourselves to live up to the finest deal and
services for developing into an esteemed firm. </p>
                    <p><b>Mission</b></p>
                    <p>To deliver adherence of an outstanding standard of
services with economical, unique, and of superior
quality to our clients.</p>
                    <div class="container">
                        <div class="row g-3 mt-4 mb-5">

                        </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}