{% extends 'base.html' %}

{% block title %}Find Jobs{% endblock %}

{% block content %}
    <main class="container-fluid py-3">
        <div class="row g-3">

            {# filter #}
            <div class="col-3">
                <div class="card shadow" style="height: 78vh; overflow-y: auto; background-color: #000000">
                    <div class="card-header">Filter</div>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="color: #ffffff">
                                Duration
                                </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <ul class="list-group">
                                          <li class="list-group-item bg-transparent">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            Hourly
                                          </li>
                                          <li class="list-group-item bg-transparent">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            Weekly
                                          </li>
                                          <li class="list-group-item bg-transparent">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            Monthly
                                          </li>
                                          <li class="list-group-item bg-transparent">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            Yearly
                                          </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne" style="color: #ffffff">
                                Location
                                </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <ul class="list-group">
                                          <li class="list-group-item bg-transparent">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            India
                                          </li>
                                          <li class="list-group-item bg-transparent">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            German
                                          </li>
                                          <li class="list-group-item bg-transparent">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            England
                                          </li>
                                          <li class="list-group-item bg-transparent">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            USA
                                          </li>
                                          <li class="list-group-item bg-transparent">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            More...
                                          </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseOne" style="color: #ffffff">
                                Skills
                                </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <ul class="list-group">
                                          <li class="list-group-item bg-transparent">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            English
                                          </li>
                                          <li class="list-group-item bg-transparent">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            Hindi
                                          </li>
                                          <li class="list-group-item bg-transparent">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            Tamil
                                          </li>
                                          <li class="list-group-item bg-transparent">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            Marathi
                                          </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="container">
                                <label for="customRange1" class="form-label">Fixed Price</label>
                                <input type="range" class="form-range" id="customRange1">
                                <label for="customRange1" class="form-label">Hourly Price</label>
                                <input type="range" class="form-range" id="customRange1">
                            </div> -->
                            <div class="container mb-3">
                                <label for="hourlyPriceField" class="form-label">Fixed Price</label>
                                <div class="input-group" style="padding: 0;">
                                    <span class="input-group-text">$</span>
                                    <input type="text" class="form-control" id="fixedPriceField" aria-label="Amount (to the nearest dollar)" style="margin: 0; padding: 0;">
                                    <span class="input-group-text">.00</span>
                                </div>
                              </div>
                              <div class="container">
                                <label for="hourlyPriceField" class="form-label">Hourly Price</label>
                                <div class="input-group" style="padding: 0;">
                                    <span class="input-group-text">$</span>
                                    <input type="text" class="form-control" id="hourlyPriceField" aria-label="Amount (to the nearest dollar)" style="margin: 0; padding: 0;">
                                    <span class="input-group-text">.00</span>
                                </div>
                              </div>
                        </div>
                </div>
            </div>

            {# results #}
            <div class="col-9">
                <div class="row g-3">
                    <div class="col-9">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Recent
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item active" href="#">Recent</a></li>
                                <li><a class="dropdown-item" href="#">Price (Low to High)</a></li>
                                <li><a class="dropdown-item" href="#">Rating (High to Low)</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Reset</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link bg-dark" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link bg-dark" href="#">1</a></li>
                                <li class="page-item"><a class="page-link bg-dark" href="#">2</a></li>
                                <li class="page-item"><a class="page-link bg-dark" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link bg-dark" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="card shadow" style="height: 70vh; overflow-y: auto;">
                    {# template card, to be generated at runtime #}
                    <div class="card m-2 card-lighter shadow">
                        <div class="row g-0">
                            <div class="col-md-4" style="background: #aaaaaa;">
                            {# put your image here #}

                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Talented Developer</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad distinctio et inventore mollitia non praesentium quae velit veritatis voluptate? Doloribus eaque fuga illo iste laborum quam quas quia ratione soluta.</p>
                                    <button type="button" class="btn btn-dark">
                                        DevOps <span class="badge bg-secondary"><i class="fa fa-star"></i></span>
                                    </button>
                                    <button type="button" class="btn btn-dark">
                                        Machine Learning
                                    </button>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </main>
{% endblock %}