{% extends 'base.html' %}

{% block title %}Find Jobs{% endblock %}

{% block content %}
    <main class="container-fluid py-3">
        <div class="row g-3">

            {# filter #}
            <div class="col-3">
                <div class="card shadow" style="height: 78vh; overflow-y: auto;">
                    <div class="card-header">Filter</div>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Accordion Item #1
                                </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dicta distinctio facere laudantium pariatur quisquam, repudiandae tenetur! Dolorum eveniet minima praesentium. Explicabo, hic, praesentium? Cumque eligendi ex provident voluptate voluptatibus.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Accordion Item #2
                                </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>

            {# results #}
            <div class="col-9">
                <div class="row g-3">
                    <div class="col-9">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Recent
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item active" href="#">Recent</a></li>
                                <li><a class="dropdown-item" href="#">Price (Low to High)</a></li>
                                <li><a class="dropdown-item" href="#">Rating (High to Low)</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Reset</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link bg-dark" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link bg-dark" href="#">1</a></li>
                                <li class="page-item"><a class="page-link bg-dark" href="#">2</a></li>
                                <li class="page-item"><a class="page-link bg-dark" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link bg-dark" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="card shadow" style="height: 70vh; overflow-y: auto;">
                    {# template card, to be generated at runtime #}
                    <div class="card m-2 card-lighter shadow">
                        <div class="row g-0">
                            <div class="col-md-4" style="background: #aaaaaa;">
                            {# put your image here #}

                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Talented Developer</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad distinctio et inventore mollitia non praesentium quae velit veritatis voluptate? Doloribus eaque fuga illo iste laborum quam quas quia ratione soluta.</p>
                                    <button type="button" class="btn btn-dark">
                                        DevOps <span class="badge bg-secondary"><i class="fa fa-star"></i></span>
                                    </button>
                                    <button type="button" class="btn btn-dark">
                                        Machine Learning
                                    </button>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </main>
{% endblock %}