{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <main>

        {# Video will go here #}
        <div style="width: 100%; height: 400px; background-color: #1b1e21;">

        </div>

        <div class="container-fluid sloggle-commitment py-5">
            <div class="container">
                <div class="d-flex mb-4" style="font-size: 2rem; font-weight: 700;">
                    Sloggle is committed to
                </div>
                <div class="d-flex justify-content-between">
                    <span class="btn btn-dark sloggle-commitment-btn">Find Jobs</span>
                    <span class="btn btn-dark sloggle-commitment-btn">Secure Payments</span>
                    <span class="btn btn-dark sloggle-commitment-btn">Track Work Progress</span>
                    <span class="btn btn-dark sloggle-commitment-btn">24/7 Support</span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row g-3 mt-4 mb-5">
                <div class="col-sm-4">
                    <div class="card shadow" style="background-color: #1b1e21;">
                        <div class="card-img-top">
                        </div>
                        <div class="card-body">
                            <div class="card-title"><b>Lorem ipsum</b></div>
                            <div class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid blanditiis cum, dicta excepturi exercitationem explicabo facere ipsa itaque laborum molestiae necessitatibus pariatur, qui tempora tempore, velit veniam vero.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="background-color: #1b1e21;">
                        <div class="card-img-top">

                        </div>
                        <div class="card-body" >
                            <div class="card-title"><b>Lorem ipsum</b></div>
                            <div class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid blanditiis cum, dicta excepturi exercitationem explicabo facere ipsa itaque laborum molestiae necessitatibus pariatur, qui tempora tempore, velit veniam vero.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="background-color: #1b1e21;">
                        <div class="card-img-top">

                        </div>
                        <div class="card-body" >
                            <div class="card-title"><b>Lorem ipsum</b></div>
                            <div class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid blanditiis cum, dicta excepturi exercitationem explicabo facere ipsa itaque laborum molestiae necessitatibus pariatur, qui tempora tempore, velit veniam vero.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row g-3 mt-4 mb-5">
                <div class="col-sm-4">
                    <div class="card shadow" style="background-color: #1b1e21;">
                        <div class="card-img-top">

                        </div>
                        <div class="card-body">
                            <div class="card-title"><b>Lorem ipsum</b></div>
                            <div class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid blanditiis cum, dicta excepturi exercitationem explicabo facere ipsa itaque laborum molestiae necessitatibus pariatur, qui tempora tempore, velit veniam vero.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="background-color: #1b1e21;">
                        <div class="card-img-top">

                        </div>
                        <div class="card-body" >
                            <div class="card-title"><b>Lorem ipsum</b></div>
                            <div class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid blanditiis cum, dicta excepturi exercitationem explicabo facere ipsa itaque laborum molestiae necessitatibus pariatur, qui tempora tempore, velit veniam vero.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="background-color: #1b1e21;">
                        <div class="card-img-top">

                        </div>
                        <div class="card-body" >
                            <div class="card-title"><b>Lorem ipsum</b></div>
                            <div class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid blanditiis cum, dicta excepturi exercitationem explicabo facere ipsa itaque laborum molestiae necessitatibus pariatur, qui tempora tempore, velit veniam vero.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}