{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <main>

        {# Video will go here #}
        <div class="container" style="width: 100%; height: 400px; background-color: ;">
            <video src="{% static 'SloggleUI/slogglev2.mp4' %}" style="height: 100%;width:100%" autoplay loop></video>
        </div>

        {# sloggle's committment #}
        <div class="container-fluid sloggle-commitment py-5">
            <div class="container">
                <div class="d-flex mb-4" style="font-size: 2rem; font-weight: 700;font-style:italic ">
                    Sloggle is committed to..
                </div>
                <div class="d-flex justify-content-between">
                    <div class="card committmentCards">
                        <div class="card-header">Find Jobs</div>
                        <div class="card-img-top">
                            <img src="{% static 'SloggleUI/find-job.jpeg' %}" alt="">
                        </div>
                    </div>
                    <div class="card committmentCards">
                        <div class="card-header">Secure Payments</div>
                        <div class="card-img-top">
                            <img src="{% static 'SloggleUI/secure-Payment.jpeg' %}" alt="">
                        </div>
                    </div>
                    <div class="card committmentCards">
                        <div class="card-header">Track Work Progress</div>
                        <div class="card-img-top">
                            <img src="{% static 'SloggleUI/Track-progress.jpeg' %}" alt="">
                        </div>
                    </div>
                    <div class="card committmentCards">
                        <div class="card-header">24/7 Support</div>
                        <div class="card-img-top">
                            <img src="{% static 'SloggleUI/support.jpeg' %}" alt="">
                        </div>
                    </div>
                        
                {# <span class="btn btn-dark sloggle-commitment-btn">Secure Payments</span> #}
                {# <span class="btn btn-dark sloggle-commitment-btn">Track Work Progress</span> #}
                {# <span class="btn btn-dark sloggle-commitment-btn">24/7 Support</span> #}
                {# </div> #}
            </div>
        </div>
        </div>

    </main>
{% endblock %}