{% extends 'base.html' %}
{% load static %}

{% block title%}Registration{% endblock %}

{% block content %}

<!-- Make your choice block -->
<div  id="makeYourChoice" class="container my-5">

    <div class="container" style="text-align:center;">
        <img src="{% static 'SloggleUI/logo.jpg' %}" alt="logo" style="width: 20%;"><br />
        <h2><b>Select account type</b></h2>
        <p>Don't worry , this can be changed later </p>
    </div>

    <div class="container d-flex justify-content-center">

        <button style="width:auto; margin-right: 1rem;" id="hireFreelancerButton">Hire a
            freelancer</button>
        <button style="width:auto;" id="beFreelancerButton">Be a freelancer</button>
    </div>

</div>

{% endblock %}