{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Sloggle</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'SloggleUI/main.css' %}">
    <script src="{% static 'SloggleUI/main.js' %}" defer></script>
</head>
<body style="background-color: #000000;">

    <!-- Registration form -->
    <div id="registrationForm" class="container text-light my-5">

        <div style="display: flex; justify-content: center;">
            <img src="{% static 'SloggleUI/logo.jpg' %}" alt="Sloggle" width="250px">
        </div>
        
        <p class="text-center display-6 mb-5">Let Us Know About What You Do</p>

        <div class="row registrationFormWrapper">
            <label for="exampleDataList" class="form-label">Title</label>
            <input class="form-control" list="datalistOptions" id="exampleDataList"
                placeholder="Type to search...">
            <datalist id="datalistOptions">
                <option value="Software Developer">
                <option value="Software Tester">
                <option value="Network Engineer">
                <option value="DBA">
                <option value="Web Developer">
            </datalist>
        </div>

        <div class="row registrationFormWrapper">
            <label for="exampleDataList" class="form-label">Category</label>
            <input class="form-control" list="datalistCategory" id="exampleCategory"
                placeholder="Type to search...">
            <datalist id="datalistCategory">
                <option value="Computer Software">
                <option value="Mobile Application Development">
                <option value="IT/Networking">
            </datalist>
        </div>

        <div class="row registrationFormWrapper">
            <label for="exampleDataList" class="form-label"> Skills</label>
            <input class="form-control" list="datalistSkills" id="exampleSkills"
                placeholder="Type to search...">
            <datalist id="datalistSkills">
                <option value="java">
                <option value="Python">
                <option value="C++">
                <option value="C">
                <option value="HTML">
            </datalist>

        </div>

        <div class="row registrationFormWrapper">
            <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                value="option1">
                <label class="form-check-label" for="inlineRadio1" style="color: white ">Entry Level</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                value="option2">
                <label class="form-check-label" for="inlineRadio2" style="color: white">Intermediate Level</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                value="option3">
                <label class="form-check-label" for="inlineRadio3" style="color: white">Expert Level</label>
            </div> -->
            <div style="padding: 0;">
                <span style="display: inline-block; margin-right: 5vw;">Expertise Level</span>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="expertiseRadio" id="inlineradio1" value="option1">
                    <label class="form-check-label" for="inlineradio1">Entry Level</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="expertiseRadio" id="inlineradio2" value="option2">
                    <label class="form-check-label" for="inlineradio2">Intermediate Level</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="expertiseRadio" id="inlineradio3" value="option3">
                    <label class="form-check-label" for="inlineradio3">Expert Level</label>
                </div>
            </div>


        </div>

        <div class="row registrationFormWrapper">
            <p style="padding: 0;">Experience</p>
            <label for="inputAddress" class="form-label">Company</label>
            <input type="text" class="form-control" id="inputAddress" style="padding: .375rem .75rem;">
        </div>

        <div class="d-flex justify-content-between registrationFormWrapper">
            <div class="col mr-3" style="padding-right: 0; padding-left: 0;">
                <label for="inputCity" class="form-label">Location</label>
                <input type="text" class="form-control" id="inputCity" placeholder="city">
            </div>
            <div class="col mx-3" style="padding-right: 0; padding-left: 0;">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="col ml-3" style="padding-right: 0; padding-left: 0;">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>

        <div class="row registrationFormWrapper">
            <label for="exampleDataList2" class="form-label"> Designation</label>
            <input class="form-control" list="datalistOptions" id="exampleDataList2"
                placeholder="Type to search...">
            <datalist id="datalistOptions">
                <option value="java">
                <option value="Python">
                <option value="C++">
                <option value="C">
                <option value="HTML">
            </datalist>

        </div>
        <div class="row registrationFormWrapper">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                &nbsp; <label class="form-check-label" for="gridCheck">
                    I currently work here
                </label>
            </div>
        </div>
        <div class="row registrationFormWrapper">
            <label for="comment"><b>Description:</b></label>
            <textarea class="form-control" rows="5" id="comment"
                placeholder="Describe about yourself"></textarea>
        </div>

        
        <div class="row registrationFormWrapper">
            <p style="padding: 0;">Educational(optional)please enter manually</p>
            <label for="inputAddress2" class="form-label"><b>University</b></label>
            <input type="text" class="form-control" id="inputAddress2"
                placeholder="Type to search.." style="padding: .375rem .75rem;">
        </div>
        <div class="row registrationFormWrapper">
            <label for="exampleDataList" class="form-label"><b> Area of
                    study</b></label>
            <input class="form-control" list="datalistArea" id="exampleDataList" 
                placeholder="Type to search...">
            <datalist id="datalistArea">
                <option value="Computer Science">
                <option value="Machine learning">
                <option value="Data Science">
                <option value="Big Data">
                <option value="Database">
            </datalist>
        </div>

        <div class="row registrationFormWrapper">
            <label for="exampleDataList" class="form-label"><b> Degree</b></label>
            <input class="form-control" list="datalistDegree" id="exampleDataList" 
                placeholder="Type to search...">
            <datalist id="datalistDegree">
                <option value="MCA">
                <option value="BCA">
                <option value="M-tech">
                <option value="B-Tech">
            </datalist>
        </div>
        <div class="row registrationFormWrapper">
            <label for="exampleDataList" class="form-label"
                ><b>Certification</b></label>
            <input class="form-control" list="datalistCertificate" id="exampleDataList"
                placeholder="Type to search...">
            <datalist id="datalistCertificate">
                <option value="CCNA">
                <option value="Java Programming">
                <option value="Python programming">
                <option value="Web Development">
                <option value="Machine Learning">
                <option value="CIW:JavaScript v2.0">
                <option value="Networking  & Linux Administration">
                <option value="Web Programming in ASP.net using C#">
                <option value="Text And Web Analyst">
                <option value="Full Stack Web Development">
                <option value="Mobile Application Development">
                <option value="Applied Computer Science">
                <option value="Agile Project Management">
                <option value="Internet of Things:Application and Opportunities">
                <option value="Web Design">
                <option value="Microsoft office 2016 Mega Bundle">
                <option value="Cloud Computing and Machine Learning">
                <option value="Machine & Deep Learning">
                <option value="Excel For Business">
                <option value="Introduction to programming in C">
                <option value="Microsoft Office Fundamental for Business">
                <option value="Software Design For Organizational Decision Making">
                <option value="Computer Science & Mobile Apps">
                <option value="Computer Science For Game Development">
                <option value="Cloud Computing with Amazon Web Services(AWS) Courses">
                <option value="Python Programming For Data Science and Web">
                <option value="Web Design Course With HTML5,CSS3 and JavaScript">
                <option value="Web Development Bootcamp">
                <option value="System Design">
                <option value="JAVA Backend Development">
                <option value="Machine Learning Foundation With Python">
                <option value="Full Stack Development With React & Node JS ">
                <option value="Competitive 	Programming">
                <option value="Java App Development">
                <option value="Android App Development ">
                <option value="Ethical Hacking and Cyber Security Fundamental">
                <option value="Object Oriented Design and Design Pattern">
                <option value="iOS APP Development">

                <option value="Big Data with Hadoop Ecosystem">
                <option value="Full Stack Development">
                <option value="Advanced Front-end Web Development">
                <option value="Django:Web Development with Python">
                <option value="DSA Foundation">
                <option value="Data Structure With Python">
                <option value="">
                <option value="">
                <option value="">
                <option value="">
                <option value="">
                <option value="">
                <option value="">
                <option value="">
                <option value="">
                <option value="">
                <option value="">
                <option value="">



            </datalist>
        </div>

        <div class="row registrationFormWrapper">
            <label for="inputLanguage" class="form-label"><b>Language</b></label>
            <input type="text" class="form-control" id="inputLanguage" placeholder="English" style="padding: .375rem .75rem;">
        </div>

        <div class="row registrationFormWrapper">
            <div style="padding: 0;">
                <span style="display: inline-block; margin-right: 5vw;">Proficiency</span>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="proficiencyRadio" id="inlineradio4" value="option1">
                    <label class="form-check-label" for="inlineradio4">Basic</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="proficiencyRadio" id="inlineradio5" value="option2">
                    <label class="form-check-label" for="inlineradio5">Intermediate</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="proficiencyRadio" id="inlineradio6" value="option3">
                    <label class="form-check-label" for="inlineradio6">Fluent</label>
                </div>
            </div>
        </div>

        <div class="row registrationFormWrapper">
            
            <div class="col" style="padding-left: 0;">
                <label for="priceInputField" class="form-label">Hourly Price</label>
                <div class="input-group" style="padding: 0;">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="priceInputField" aria-label="Amount (to the nearest dollar)" style="margin: 0;">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            <div class="col" style="padding-right: 0;">
                <label for="priceInputField" class="form-label">Fixed Price</label>
                <div class="input-group" style="padding: 0;">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="priceInputField" aria-label="Amount (to the nearest dollar)" style="margin: 0;">
                    <span class="input-group-text">.00</span>
                </div>
            </div>

        </div>

        

        <div class="row registrationFormWrapper">
            <label for="exampleDataList" class="form-label"><b>Country</b></label>
            <input class="form-control" list="datalistCountry" id="exampleDataList"
                placeholder="Type to search...">
            <datalist id="datalistCountry">
                <option value="	Afghanistan">
                <option value="Albania">
                <option value="Algeria">
                <option value="Andorra">
                <option value="Angola">
                <option value="Antigua and Barbuda">
                <option value="Argentina">
                <option value="Armenia">
                <option value="Australia">
                <option value="	Austria">
                <option value="Azerbaijan">
                <option value="Bahamas">
                <option value="Bahrain">
                <option value="	Bangladesh">
                <option value="Barbados">
                <option value="Belarus">
                <option value="Belgium">
                <option value="Belize">
                <option value="Benin">
                <option value="Bhutan">
                <option value="	Bolivia">
                <option value="Bosnia and Herzegovina">
                <option value="Botswana">
                <option value="Brazil">
                <option value="Brunei">
                <option value="Bulgaria">
                <option value="Burkina Faso">
                <option value="Burundi">
                <option value="Côte d'Ivoire">
                <option value="Cabo Verde">
                <option value="Cambodia">
                <option value="	Cameroon">
                <option value="Canada">
                <option value="Central African Republic">
                <option value="Chad">
                <option value="Chile">
                <option value="China">
                <option value="Colombia">
                <option value="Comoros">
                <option value="Congo (Congo-Brazzaville)">
                <option value="Costa Rica">
                <option value="Croatia">
                <option value="Cuba">
                <option value="Cyprus">
                <option value="Czechia (Czech Republic)">
                <option value="Democratic Republic of the Congo">
                <option value="Denmark">
                <option value="Djibouti">
                <option value="Dominica">
                <option value="Dominican Republic">
                <option value="Ecuador">
                <option value="Egypt">
                <option value="El Salvador">
                <option value="Equatorial Guinea">
                <option value="Eritrea">
                <option value="Estonia">
                <option value="	Eswatini (fmr. " Swaziland")">
                <option value="Ethiopia">
                <option value="Fiji">
                <option value="Finland">
                <option value="France">
                <option value="Gabon">
                <option value="	Gambia">
                <option value="Georgia">
                <option value="Germany">
                <option value="Ghana">
                <option value="Greece">
                <option value="Grenada">
                <option value="Guatemala">
                <option value="Guinea">
                <option value="Guinea-Bissau">
                <option value="Guyana">
                <option value="Haiti">
                <option value="Holy See">
                <option value="Honduras">
                <option value="	Hungary">
                <option value="Iceland">
                <option value="India">
                <option value="Indonesia">
                <option value="Iran">
                <option value="Iraq">
                <option value="Ireland">
                <option value="Israel">
                <option value="Italy">
                <option value="	Jamaica">
                <option value="Japan">
                <option value="Jordan">
                <option value="Kazakhstan">
                <option value="Kenya">
                <option value="Kiribati">
                <option value="Kuwait">
                <option value="Kyrgyzstan">
                <option value="Laos">
                <option value="Latvia">
                <option value="Lebanon">
                <option value="Lesotho">
                <option value="Liberia">
                <option value="Libya">
                <option value="Liechtenstein">
                <option value="Lithuania">
                <option value="Luxembourg">
                <option value="Madagascar">
                <option value="Malawi">
                <option value="Malaysia">
                <option value="Maldives">
                <option value="Mali">
                <option value="Malta">
                <option value="Marshall Islands">
                <option value="Mauritania">
                <option value="Mauritius">
                <option value="Mexico">
                <option value="Micronesia">
                <option value="Moldova">
                <option value="	Monaco">
                <option value="Mongolia">
                <option value="Montenegro">
                <option value="	Morocco">
                <option value="Mozambique">
                <option value="	Myanmar (formerly Burma)">
                <option value="Namibia">
                <option value="Nauru">
                <option value="	Nepal">
                <option value="	Netherlands">
                <option value="New Zealand">
                <option value="Nicaragua">
                <option value="	Niger">
                <option value="Nigeria">
                <option value="North Korea">
                <option value="North Macedonia">
                <option value="Norway">
                <option value="Oman">
                <option value="Pakistan">
                <option value="	Palau">
                <option value="Palestine State">
                <option value="	Panama">
                <option value="Papua New Guinea">
                <option value="Paraguay">
                <option value="Peru">
                <option value="	Philippines">
                <option value="Poland">
                <option value="Portugal">
                <option value="	Qatar">
                <option value="	Romania">
                <option value="Russia">
                <option value="Rwanda">
                <option value="Saint Kitts and Nevis">
                <option value="Saint Lucia">
                <option value="	Saint Vincent and the Grenadines">
                <option value="	Samoa">
                <option value="San Marino">
                <option value="	Sao Tome and Principe">
                <option value="	Saudi Arabia">
                <option value="Senegal">
                <option value="Serbia">
                <option value="Seychelles">
                <option value="	Sierra Leone">
                <option value="Singapore">
                <option value="Slovakia">
                <option value="Slovenia">
                <option value="Solomon Islands">
                <option value="	Somalia">
                <option value="South Africa">
                <option value="South Korea	">
                <option value="South Sudan">
                <option value="	Spain">
                <option value="Sri Lanka">
                <option value="Sudan">
                <option value="Suriname">
                <option value="Sweden">
                <option value="Switzerland">
                <option value="	Syria">
                <option value="	Tajikistan">
                <option value="Tanzania">
                <option value="	Thailand">
                <option value="Timor-Leste">
                <option value="	Togo">
                <option value="Tonga">
                <option value="	Trinidad and Tobago">
                <option value="	Tunisia">
                <option value="Turkey">
                <option value="Turkmenistan">
                <option value="Tuvalu">
                <option value="	Uganda	">
                <option value="	Ukraine">
                <option value="	United Arab Emirates">
                <option value="	United Kingdom">
                <option value="United States of America">
                <option value="	Uruguay">
                <option value="	Uzbekistan">
                <option value="Vanuatu">
                <option value="Venezuela">
                <option value="Vietnam">
                <option value="	Yemen">
                <option value="Zambia">
                <option value="	Zimbabwe">

            </datalist>
        </div>
        <br />

        <div class="row registrationFormWrapper">
            <label class="mb-2" for="inputGroupFile02">Upload Profile Picture</label>
            <div class="input-group mb-3" style="padding-left: 0; padding-right: 0;">
                <input type="file" class="form-control" id="inputGroupFile02" accept=".png, .jpg, .jpeg">
                <label class="input-group-text" for="inputGroupFile02" style="padding-left: 1rem; padding-right: 1rem;">Upload</label>
            </div>
        </div>
        
        <div class="row registrationFormWrapper">
            <button type="submit" class="btn btn-primary">Save & Submit</button>
        </div>

        <div class="row registrationFormWrapper">
            <p style="padding: 0;">
                Sloggle will not charge any extra expect processing fee...
                <strong>Learn more?</strong>
            </p>
        </div>

    </div>
    
    </form>
    </div>

    <!-- TODO: Move this to main JS file -->
    <script>
        // for disabling stuff on radio button click in expertise level
        const entryLevelRadioButton = document.getElementById("inlineradio1");

        entryLevelRadioButton.addEventListener("click", function() {

            if(document.getElementById("inlineradio2").disabled === false) {
                document.getElementById("inlineradio2").disabled = true;
                document.getElementById("inlineradio3").disabled = true;
                document.getElementById("inputAddress").disabled = true;
                document.getElementById("exampleDataList2").disabled = true;
                document.getElementById("gridCheck").disabled = true;
            } else {
                document.getElementById("inlineradio2").disabled = false;
                document.getElementById("inlineradio3").disabled = false;
                document.getElementById("inputAddress").disabled = false;
                document.getElementById("exampleDataList2").disabled = false;
                document.getElementById("gridCheck").disabled = false;    
            }

        });
    </script>
    
</body>
</html>