
* {box-sizing: border-box;}

body {font-family: Arial, Helvetica, sans-serif;}

a:hover {
    color: #00ffff;
}

header {
    /* same color as the background, change this if your like */
    background: #343a40;
}

.navbar-brand {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.navbar-brand a {
    color: #f4f4f4;
    text-decoration: none;
}

.highlighted-text {
    color: #00ffff;
}

.title-subtext {
    margin-top: -10px;
    padding-bottom: 0.5rem;

    font-size: 0.8rem;
    text-transform: capitalize;
}

.navbar .nav-link {
    color: #ffffff;
}

.navbar .nav-link:hover {
    background-color: #1b1e21 !important;
}

.secondary-navigation {
    background-color: #495057;
}

.secondary-navigation .nav-link {
    padding-left: 0px;
    padding-right: 0px;
    color: #f4f4f4;
    margin: auto 2rem;
}

.btn-group button a {
    color: #f4f4f4;
    text-decoration: none;
}

.secondary-navigation .nav-link:first-child {
    margin-left: 0px;
}

.hero-section-video {
    width: 100%;
    height: 400px ;
}

.sloggle-commitment {
    background-color: #495057;
}

.sloggle-commitment-btn {
    width: 20%;

    /* to adjust margins visually */
    margin-bottom: 1rem;
}

.card {
    background-color: #3a424a;
}

.card-light {
    background-color: #495057;
}

.card-lighter {
    background-color: #5b6773;
}

.text-muted {
    color: #c6c6c6 !important;
}

.page-link {
    border-color: #5b6773;
    border-width: 2px;
}

.dummy-card-image {
    height: 200px;
    background-image: url("./placeholder-img-01.jpg");
    background-size: cover;
}

footer {
    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15) !important
}

footer a {
    color: #f4f4f4;
    text-decoration: none;
}

footer .list-group-item {
    background: transparent;
}

footer .list-group-item:first-child {
    font-weight: 700;
}

.modal-content {
    background-color: #1b1e21;
}

.modal-title {
    /*text-align: center;*/
    margin: 0px auto;
}

/* Copied from chat.html */
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #000;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 0px;
  right: 28px;
  width: 180px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn, #hireFreelancerButton, #beFreelancerButton {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.highlighted-on-hover:hover {
    color: #00ffff;
}

.language-list .list-group-item {
    background-color: transparent;
}

/* signup */


/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  /*margin: 8px 0;*/
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

.committmentCards {
    margin: auto 1rem;
}

.committmentCards img {
    width: 100%;
}

.accordion-button:not(.collapsed) {
    background-color: #000000;
}

.registrationFormWrapper {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 1rem;
}

.registrationFormWrapper label {
    padding: 0;
}

#inputCity, #inputZip {
    padding: .375rem .75rem;
}